/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    user-select: none;

    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.search-bar {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: max-content;
    align-items: center;

    .search-input {
        padding: 5px 15px;
        padding-right: 40px;
        left: 0;
        top: 0;
        
        border-radius: 20px;
        border: 1px solid gray;

        font-size: inherit;
        font-family: inherit;
    }

    .search-button {
        position: absolute;
        right: 5px;
        width: 28px;
        height: 20px;
        padding-left: 3px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent;
        border: none;
        border-left: 1px solid gray;
        
        img {
            width: 70%;
        }
    }
}

.day-name {
    margin: 30px 0px 20px;
    text-indent: 55px;
}

.wrapper-days {

    .day {
        display: flex;
        flex-direction: column;
        // padding: 10px;
        
        .wrapper-info {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .time-section {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                text-align: center;

                p {
                    width: 40px;
                }
            }
        }
    }
}

.weather-icon-wrapper {
    position: relative;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    .weather-icon {
        width: 70%;
    }

    .tooltip {
        position: absolute;
        left: 100%;
        width: max-content;

        transform: scaleX(0%);
        transform-origin: 0% 50%;
        transition: all .3s;

        z-index: 1;
        padding: 5px;
        background-color: black;
        border-radius: 5px;
        
        color: white;
        font-size: .8rem;
        font-family: 'Roboto', sans-serif;
    }

    &:hover .tooltip {
        transform: scaleX(100%);
    }
}

.info-icons {
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    
    div {
        position: relative;
        width: 40px;
        padding: 0 5px;

        text-align: center;

        .icon {
            width: 80%;
        }

        &:hover .tooltip {
            transform: scaleY(100%);
        }

        .tooltip {
            position: absolute;
            width: 100px;
            bottom: 120%;
            left: 50%;
            margin-left: -50px;

            transform: scaleY(0%);
            transform-origin: 50% 100%;
            transition: all .3s;
            z-index: 1;
            padding: 5px;
            background-color: black;
            border-radius: 5px;
            
            color: white;
            font-size: .8rem;
            font-family: 'Roboto', sans-serif;
        }
    }
}
