/*
font-family: 'Dosis', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

$darkSkyBlue: rgb(28, 84, 121);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    // border: 1px solid gray;
}

html {
    font-size: 1.2rem;
}

.background {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    // background-image: url("https://images.unsplash.com/photo-1498496294664-d9372eb521f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    // background-image: url("https://images.unsplash.com/photo-1506624682682-13fa0130f321?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    // background-size: cover;
    
    background: linear-gradient(#386f8a, #65a3c7);
}

body {
    user-select: none;

    min-width: 350px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;

    font-family: 'Dosis', sans-serif;
    color: white;
}

h1,
h2,
.search-input,
.chart-button,
.summary,
.tooltip {
    font-family: 'Quicksand', sans-serif;
}


// HEADER

header {
    margin: 10px 0px 40px;
}

.search-bar {
    $search-bar-padding-x: 20px;

    position: relative;
    margin: 0 auto;
    padding: 0 $search-bar-padding-x;
    max-width: 350px;

    display: flex;
    align-items: center;

    .cursor {
        position: absolute;

        width: 1px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 1px;
        
        opacity: 0;
        animation: blink-animation 3s linear infinite;
        transition: all .3s;
    }

    .search-input {
        padding: 5px 40px 5px 5px;
        left: 0;
        top: 0;
        width: 100%;
        
        border: none;
        outline: none;
        background-color: transparent;

        font-size: 2rem;
        color: white;
        text-transform: capitalize;
    }

    .search-button {
        cursor: pointer;
        margin-right: $search-bar-padding-x;
        position: absolute;
        right: 10px;

        width: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent;
        border: none;
        
        img {
            width: 75%;
            filter: invert(1);
            opacity: .75;
        }
    }
}

::placeholder {
    color: lightgray;
}

@keyframes blink-animation {
    0% {opacity: 0;};
    30% {opacity: 0;};
    50% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}


// CURRENT WEATHER SECTION

.current-weather {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;

    font-size: .9rem;
    font-weight: 500;

    .summary {
        text-align: center;
        font-weight: 700;
    }

    .data-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > * + * {
            margin-left: 10px;
        }
        margin-bottom: 40px;

        img {
            height: 75px;
            filter: invert(1);
        }

        .temp {
            font-size: 5rem;
            font-weight: lighter;
            vertical-align: top;

            sup {
                font-size: 2rem;
            }
        }

        ul {
            margin-left: auto;
            list-style: none;
            text-align: right;
        }
    }
}


// CHARTS

.charts-container {
    position: relative;
    overflow: hidden;
}

.chart {
    transform: translateX(0px);
    transition: all .5s ease;
}

.chart.temperature.hidden {
    transform: translateX(-100%);
}

.chart.precipitation {
    position: absolute;
    top: 0;
    left: 0;

    &.hidden {
        transform: translateX(100%);
    }
}


// CHART BUTTONS

.chart-buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    .chart-button {
        border-bottom: 2px solid white;
        transition: all .3s;
        text-transform: capitalize;
        cursor: pointer;
        
        &.hidden {
            transform: scale(.9);
            transform-origin: 50% 100%;
            border-bottom: 1px solid white;
        }
    }
}


// COMING DAYS SECTION

.day-name {
    margin: 30px 0px 20px;
    color: white;
}

.wrapper-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .day {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        .wrapper-info {
            display: flex;
            flex-direction: column;
            & > * + * {
                margin-top: 15px;
            }

            .time-section {
                display: flex;
                flex-direction: row;
                & > * + * {
                    margin-left: 10px;
                }
                align-items: center;
                text-align: center;

                p {
                    width: 40px;
                }
            }
        }
    }
}

.tooltip {
    position: absolute;
    transform: scaleY(0);
    transition: all .3s;
    z-index: 1;
    padding: 5px;
    background-color: $darkSkyBlue;
    border-radius: 5px;
    font-size: .8rem;
}

// COMING DAYS SECTION - INFO ICONS & TOOLTIPS

.info-icons-wrapper {
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    & > * + * {
        margin-left: 10px;
    }
    
    .icon-wrapper {
        position: relative;
        width: 40px;
        padding: 0 5px;

        text-align: center;

        .icon {
            width: 80%;
            border-bottom: 1px dotted black;
            padding-bottom: 3px;
            filter: invert(1);
        }
        
        .tooltip {
            width: 100px;
            bottom: 120%;
            left: 50%;
            margin-left: -50px;
            
            transform-origin: 50% 100%;
        }

        &:hover .tooltip {
            transform: scaleY(1);
        }
        
        &.wind .tooltip {
            margin-left: -70px;
        }
    }
}

// COMING DAYS SECTION - WEATHER ICONS & TOOLTIPS

.weather-icon-wrapper {
    position: relative;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    .weather-icon {
        width: 70%;
        border-bottom: 1px dotted black;
        padding-bottom: 3px;
        filter: invert(1);
    }

    .tooltip {
        left: 100%;
        width: max-content;
        transform-origin: 0% 50%;
        padding: 5px 10px;
    }

    &:hover .tooltip {
        transform: scaleX(1);
    }
}


// ERROR MESSAGE

.error-message {
    color: rgb(255, 125, 125);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
